/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {


    .main {
        width: 80%;
        margin: auto;
    }


    /* Order button at featured-product section */
    .btn-order {
        background-color: #00BADB;
        border: 0;
        box-shadow: none;
        color: white;
        padding: 10px 20px;
        font-size: 1.2rem;
        width: 26%;
    }

    .btn-order a {
        color: #fff;
    }

    .btn-order:hover {
        cursor: pointer;
        background-color: #00adcc;
    }

    .btn-order:active {
        background-color: #0098b3;
        width: 26.2%;
    }


    /**************************
*  General Settings Ends  *
**************************/


    /**********************
*  Header Settings   *
**********************/


    .topbar {
        background-color: #408FEC;
        color: white;
        max-width: 100%;
        padding: 15px 10px;
        font-size: 0.9rem;
        text-align: center;
    }

    .topbar h4 {
        display: inline-block;
    }


    .topbar h4:nth-child(even)::before,
    .topbar h4:nth-child(even)::after {
        content: " | ";
    }



    /**********************
*  Navbar Settings    *
**********************/



    .navbar ul li {

        margin: auto 8px;
    }



    /**********************
*  DropDown Settings   *
**********************/


    .navbar li {
        color: #fff;
        background: #4B5CF3;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    .navbar li a {
        color: #fff;
    }

    .navbar li:hover {
        background: #4052f2;
        cursor: pointer;
    }

    .navbar ul li ul {
        min-width: 5rem;
        margin-top: 1rem;
        left: 0;
    }

    .navbar ul li ul li {
        color: #000;
    }



    .navbar ul li ul li a:hover {
        color: #000;
    }

    .navbar ul li:hover>ul,
    .navbar ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .navbar ul li ul li {
        clear: both;
        width: 100%;
    }



    /****************************
*  DropDown Settings Ends   *
****************************/


    /****************************
*  Search Bar Settings      *
****************************/

    .search {
        margin-top: 15px;
        display: flex;
    }

    .search input[type="text"] {

        width: 50%;
        height: 15%;
        margin-right: 0;
    }

    .search input[type="submit"] {
        background-color: #66DCE3;
        color: white;
        border: 0;
        height: 20px;
        width: 10%;
        margin-left: 0;
    }


    /****************************
*  Search Bar Settings Ends *
****************************/

    /****************************
*  Navbar Settings Ends     *
****************************/

    /****************************
*  Main Section Settings    *
****************************/

    .top-items {
        max-width: 100%;

    }

    .box-group {
        padding: 30px;
        margin: 3rem auto;
    }

    .products {
        width: 90%;
        margin: auto;
    }


    .product-box {
        width: 25%;
        margin: 10px;
        padding: 20px;
    }

    /************************************
*  Featured Product Settings        *
************************************/

    .product-info {
        border-left: 1px solid black;
        padding-left: 3rem;
    }

    .product-info h2 {
        padding-bottom: 1.5rem;
    }

    .top-items,
    .new-items,
    .featured-product {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }


    .column {
        float: left;
        width: 40%;
        margin: auto;
        padding: 10px;
    }


    .column img {
        width: 40%;
        margin-left: 30%;
    }

    .product-info {
        margin-left: 10%;
        padding-left: 20px;
    }

    /****************************
*  Footer Settings          *
****************************/

    footer input[type="text"] {
        width: 60%;
        min-height: 1.5rem;
    }

    footer input[type="submit"] {
        width: 20%;
        min-height: 1.5rem;
        background-color: #00BADB;
        color: #fff;
        border: 0;
        margin-left: -4px;
        cursor: pointer;

    }

    footer input[type="submit"]:hover {
        background-color: #00adcc;
    }

    footer input[type="submit"]:active {
        background-color: #0098b3;
    }

    /****************************
*  Footer Settings ENDS     *
****************************/


    /********************************
*  Category Settings BEGINS     *
*********************************/


    /****************************
*  Book Facts Settings      *
****************************/

    .category-title-group {
        padding-left: 30px;
        background-color: #F3F5F6;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /********************************
*  Category Page Settings ENDS       *
*********************************/

    /********************************
*  Product Page Settings BEGINS      *
*********************************/
    .map {
        padding-left: 30px;
        font-size: 0.8rem;
    }

    .product-description {
        width: 50%;
    }

    .product-description p {
        padding: 30px;
    }

    .product-description ul li {
        list-style-type: none;
        line-height: 2;
    }

    .product-related-books-title {
        padding-left: 30px;
    }

    .product-related-books .flex-item {
        text-align: center;
    }

    .product-related-books .price {
        text-align: center;
    }

    /********************************
*  Product Page Settings ENDS   *
*********************************/

    /********************************
*  Contact Page Settings BEGINS *
*********************************/

    .contact-us img {
        width: 100%;
    }

    .contact-us input[type="text"],
    textarea {
        width: 80%;
        margin: 2rem auto;
        font-size: calc(15px * 1.3);
        font-weight: 300;
        padding: 15px;
        border: 0;
    }

    .contact-us input[type="text"] {
        min-height: 2rem;

    }

    /********************************
*  Contact Page Settings ENDS   *
*********************************/
    /********************************
*  Checkout Page Settings ENDS   *
*********************************/

    .beside-col-parent {
        width: 80%;
        margin-left: 10%;

    }

    .beside-col {
        width: 49%;
        margin: auto;
        display: inline-block;
        text-align: left;
    }

    .beside-col input[type="text"] {
        width: 63%;
    }

    /********************************
*  Checkout Page Settings ENDS   *
*********************************/
}