/**********************



 The main CSS Style for all elements which are used in projects are present here

 1) Top-bar: The top bar which some important info shows 
 2) Top-nav: Right under top-bar which include search bar on the right and navbar on the left hand side
 3) An image which can be used as slider as well. 
 4) Main Section: The main part of the page under HEADER and above FOOTER sections
 5) .featured-product: The most popular product which shows under new items section. 
 6) Footer: The footer part includes: a) Short description, b) Vertical menu for some important links, c) Newsletter signup 


 Main colors: #000  #fff    #00BADB     #F3F5F6
 Sections backgrounds are in #F3F5F6 
 */

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}